<div class="form-group-wrapper">
    <form [formGroup]="fGroup"
        (ngSubmit)="save()">
        <div class="form-group mb-3">
            <label class="form-label" >Reporte:</label>
            <p-dropdown  class="form-control"  (onChange)="onOptionsSelected($event)" formControlName="report" name="report" id="report" [options]="reports" optionLabel="name"></p-dropdown>
        </div>

        <div class="form-group">
            <label class="form-label" >Fecha Inicial:</label>
            <p-calendar dateFormat="yy-mm-dd" name="fechaIni" class="form-control" id="fechaIni"
                formControlName="fechaIni"></p-calendar>
        </div>
        <div class="form-group">
            <label class="form-label" >Fecha Final:</label>
            <p-calendar dateFormat="yy-mm-dd" name="fechaFin" class="form-control" id="fechaFin"
                formControlName="fechaFin"></p-calendar>
        </div>
        <div class="card flex justify-content-center">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>


<p-table #dt2 [value]="historicTramos" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 20, 50]"
    [paginator]="true" currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
    [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of cols">
                {{ col.header }}
            </th>
           
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-historic>
        <tr>

            <td *ngFor="let col of cols">
                {{ historic[col.field] }}
            </td>
            
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            Son un total de {{historicTramos ? historicTramos.length : 0 }} registros.
        </div>
    </ng-template>
</p-table>